<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="telephone=no" name="format-detection">
<title>赛格国际购物中心七夕相亲活动</title>
<script type="text/javascript" src="../../addons/member/template/mobile/static/chasing/js/autoScale.js" ></script>
<link rel="stylesheet" type="text/css" href="../../addons/member/template/mobile/static/chasing/images/style.css" />
</head>

<body>
<div class="pop" onclick="$(this).css('display','none');">
<img src="../../addons/member/template/mobile/static/chasing/images/pop.png" /></div>

<div class="all">
    <img src="../../addons/member/template/mobile/static/chasing/images/logo2.png" class="logo">
    <div class="mutual">
        <div class="tx1">
           <div class="tx4"> <img src="{$baseInfo[0]['desc_img']}"></div>
            <div class="name1">
            {$baseInfo[0]['nickname']}</br>
            {$baseInfo[0]['symboldesc']}座
            </div>
    </div>
    <div class="tx2">
    <div class="tx4"><img src="{$baseInfo[1]['desc_img']}"></div>
        <div class="name2">
            {$baseInfo[1]['nickname']}</br>
            {$baseInfo[1]['symboldesc']}座
        </div>
    </div>
    <div style="clear:both"></div>
        </div>
        <div class="txt">
       <p class="p1">{$baseInfo[0]['nickname']}和{$baseInfo[1]['nickname']}互相喜欢了对方<br>
     
     <span>心动的感觉就是如此美好</span></p>
            <div id="heiceng" style="width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,.3);z-index:999;display:none;" onclick="this.style.display='none';">
            <div class="layer">
            <ul>
            <li>TA的昵称<span>{$order['nickname']}</span></li>
            <li>TA的星座<span>{$order['symboldesc']}座</span></li>
            <li>TA的年龄<span>{$order['age']}</span> </li>
            <li>联系方式<span>{$order['mobile']}</span></li>
            <li><strong class="tel"><a href="tel:{$order['mobile']}">点此电话传情</a></strong></li>
            </ul>
            </div>
            </div>
<div onclick="document.getElementById('heiceng').style.display='block';" ><a href="#" class="btn2">查看对方联系方式</a></div>
<img src="../../addons/member/template/mobile/static/chasing/images/quan.jpg">
<div class="p2">
<h4>活动说明：</h4>
* 本活动旨在为青年男女提供交友平台，8月9日前配对成功的，七夕（8月9日）当天一起来赛格约会的前50对，即可获赠赛格200元两店通用储值卡一张，做为约会基金；<br>
* 领取200元两店通用储值卡约会基金时，须两人共同出示配对成功页面方可，领取地点为赛格国际购物中心一楼总服务台；<br>
* 平台不对参与者身份进行认证，请大家谨慎选择，由此引发意外、纠纷，与赛格集团无关；<br>
* 活动时间：即日起至2016年8月9日；<br>
* 领奖时间：七夕当天即8月9日；<br>
* 赛格公司在中国法律法规允许范围内拥有活动解释权。<br><br><div class="horn" onclick="$('.pop').css('display','block');">
<img src="../../addons/member/template/mobile/static/chasing/images/horn.png" /> 如何查看谁撩了你并收到速配通知？</div><br><br>

</div>
</div>

</p>

</div>

<script type="text/javascript" src="../../addons/member/template/mobile/static/chasing/js/zepto.min.js"></script>
<script type="application/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
 wx.config({
        debug: false,
        appId: "{$_W['account']['jssdkconfig']['appId']}",
        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
        signature: "{$_W['account']['jssdkconfig']['signature']}",
        jsApiList: [
            'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
            'onMenuShareTimeline',      // 分享到朋友圈
            'onMenuShareAppMessage',    // 分享给朋友
            'onMenuShareQQ',            // 分享到QQ
            'onMenuShareWeibo',         // 分享到腾讯微博
            'hideMenuItems',            // 批量隐藏功能按钮接口
            'showMenuItems',            // 批量显示功能按钮接口
            'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
            'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
            'getNetworkType',           // 获取网络状态接口
            'openLocation',             // 使用微信内置地图查看位置接口
            'getLocation',              // 获取地理位置接口
            'hideOptionMenu',           // 批量隐藏功能按钮接口
            'showOptionMenu',           // 批量显示功能按钮接口
            'closeWindow',              // 关闭当前网页窗口接口
            'addCard',                  // 批量添加卡券接口
            'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
            'openCard',                 // 查看微信卡包中的卡券接口
			'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage'
        ]
    });

    wx.ready(function(){
         // 分享到朋友券
         wx.onMenuShareTimeline({
            title: "拯救单身汪手册 还有免费约会基金！ ", // 分享标题
            link: "http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=UploadProfile&m=member", // 分享链接
            imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/static/chasing/images/share.jpg', // 分享图标
            success: function (res) {

            }
        });

        // 分享给朋友
        wx.onMenuShareAppMessage({
            title: "拯救单身汪手册 还有免费约会基金！ ", // 分享标题
            desc:  "七夕不愿做单身汪？狗粮太多无处可躲？什么时候才能遇见我的TA？七夕遇见你的另一半，就从这里开始……", // 分享描述
            link: "http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=UploadProfile&m=member", // 分享链接
            imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/static/chasing/images/share.jpg', // 分享图标
            success: function (res) {

            }
        });
	});
</script>

</body>
</html>
