<div class="header">
    <div class="banner">
        <img ng-src="../addons/member/template/mobile/mobindex/images/banner-2.png" alt=""/>
    </div>
    <div ng-include="'../addons/member/template/mobile/mobindex/views/nav.html'"></div>
</div>
<div class="about">
    <h3 class="com-title">关于赛格</h3>
    <img ng-src="../addons/member/template/mobile/mobindex/images/about-saga.png" alt=""/>
    <p>
        西安赛格集团是美国SAGA，香港国航及内地企业联合投资的多元化企业集团。赛格集团拥有员工2000余人，旗下有广东珠海SAGA数码ADD制造公司，广州UNBIT数码产品制造公司及数家专业电子卖场。集团还在新加坡投资设立数码技术研发中心及投资运营位于夏威夷的高尔夫旅游项目Haleakala Golf Boutique度假村。

    </p>
    <p>
    2011年，赛格集团投资逾20亿元自持物业，运营赛格购物中心项目。该项目将以“超前化视野”与“专业化思维”倾力创造中国卓越的购物中心。多年以来，赛格企业吸收国内外各业精英加盟，特别是研发精英与百货业精英的充分结合，创造了一个又一个骄人的业绩。
    </p>

</div>