<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection">
<link rel="stylesheet" href="../addons/member/template/mobile/invite_chen/css/invite_chen.css">
<style>
	.tips{
		width: 90%;
	    margin: 0 5%;
	    font-size: 0.9em;
	    line-height: 1.2em;
	    color: #fff;
	    text-align: justify;
	}
</style>
</head>
<body>
	<div class="inv">
		<div class="main inv_main">
			<div class="inv_top">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>管理培训生</span></h2>
				<ul>
					<li>
						<span><b>人数：</b>5名</span>
						<span><b>月薪：</b>4500 - 5500</span>
					</li>
					<li>
						<p><b>工作内容：</b><br />
							保安部管理人员（定向轮岗培养）
						</p>
					</li>
					<li>
						<p><b>任职要求：</b><br />
							大专及以上学历，身高170以上，有较强的责任心、学习能力、协调能力及紧急事件处理能力等，一线岗位轮训起（限男性）
						</p>	
					</li>
				</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<div class="inv_botm">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>秩序维护</span></h2>
				<ul>
					<li>
						<span><b>人数：</b>20名</span>
						<span><b>月薪：</b>3500 - 4500</span>
					</li>
					<li>
						<p><b>工作内容：</b><br />
							分别负责办公区、顶层花园车库、商场内部等区域人、货、车辆等方面安全等
	
						</p>
					</li>
					<li>
						<p><b>任职要求：</b><br />
							高中及以上学历，身高170以上，形象良好，工作认真仔细，有良好的服务意识和吃苦耐劳的精神，有较强的沟通能力和责任心，上进心强
						</p>	
					</li>
				</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<div class="inv_botm">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>消防员</span></h2>
				<ul>
					<li>
						<span><b>人数：</b>4名</span>
						<span><b>月薪：</b>3500 - 4500</span>
					</li>
					<li>
						<p><b>工作内容：</b><br />
							负责商场的消防安全，及时解决一切消防隐患、扑救初期火灾、灭火业务技能训练，掌握消防器材的使用方法等
	
						</p>
					</li>
					<li>
						<p><b>任职要求：</b><br />
							高中及以上学历，消防退伍军人。对消防业务技能精通，身体素质佳，应变能力强，心理素质强
						</p>	
					</li>
				</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<div class="inv_botm">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>形象特勤员</span></h2>
				<ul>
					<li>
						<span><b>人数：</b>3名</span>
						<span><b>月薪：</b>3500 - 4500</span>
					</li>
					<li>
						<p><b>工作内容：</b><br />
							负责商场外围运营秩序及形象固定岗等
	
						</p>
					</li>
					<li>
						<p><b>任职要求：</b><br />
							高中及以上学历，身高180以上，形象好，气质佳。语言沟通力强，有良好的服务意识
						</p>	
					</li>
				</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<p class="tips">
				备注：<br />
				1.从事过消防、监控及退伍军人优先录取<br />
				2.以上岗位集团均提供良好的入职培训、“一对一教练”岗位引导及通畅的晋升平台
			</p>
			<a class="back" href="http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteOrangeEntry&m=member&wxref=mp.weixin.qq.com#option">返&nbsp;回</a>
		</div>
	</div>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
	    wx.config({
	        debug: false,
	        appId: "{$_W['account']['jssdkconfig']['appId']}",
	        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
	        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
	        signature: "{$_W['account']['jssdkconfig']['signature']}",
	        jsApiList: [
	            'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
	            'onMenuShareTimeline',      // 分享到朋友圈
	            'onMenuShareAppMessage',    // 分享给朋友
	            'onMenuShareQQ',            // 分享到QQ
	            'onMenuShareWeibo',         // 分享到腾讯微博
	            'hideMenuItems',            // 批量隐藏功能按钮接口
	            'showMenuItems',            // 批量显示功能按钮接口
	            'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
	            'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
	            'getNetworkType',           // 获取网络状态接口
	            'openLocation',             // 使用微信内置地图查看位置接口
	            'getLocation',              // 获取地理位置接口
	            'hideOptionMenu',           // 批量隐藏功能按钮接口
	            'showOptionMenu',           // 批量显示功能按钮接口
	            'closeWindow',              // 关闭当前网页窗口接口
	            'addCard',                  // 批量添加卡券接口
	            'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
	            'openCard',                 // 查看微信卡包中的卡券接口
	            'chooseImage',
	            'previewImage',
	            'uploadImage',
	            'downloadImage'
	        ]
	    });
		
	    wx.ready(function() {
	    	//分享到朋友圈
	    	wx.onMenuShareTimeline({
		       title: "在赛格，我们与你事业的小船永不翻~", // 分享标题
		       link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteOrangeEntry&m=member', // 分享链接
		       imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/invite_chen/img/pic.png', // 分享图标
		       success: function (res) {
	           console.log("succ");
	       		}
		       
		   });
			// 分享给朋友
	       wx.onMenuShareAppMessage({
	           title: "在赛格，我们与你事业的小船永不翻~", // 分享标题
	           desc:  "赛格国际2017春招的小船已经出发，优秀的同学们排好队前排刷卡上船~", // 分享描述
	           link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteOrangeEntry&m=member', // 分享链接
	           imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/invite_chen/img/pic.png', // 分享图标
	           success: function (res) {
	           console.log("succ");
	       		}
	       });
	    });
	
	</script>

</body>
</html>
