<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/> 
	<title>吃货向东走 全场五折起</title>
    <script type="text/javascript" src="../addons/member/template/mobile/member/basement/basementScripts/autoScale.js"></script>
    <link href="../addons/member/template/mobile/member/basement/basementImg/style.css" rel="stylesheet" />
</head>
<body>
<header><img src="../addons/member/template/mobile/member/basement/basementImg/banner.png"></header>
<article>
<div class="block leftF">
<div class="block_title1"><em><img src="../addons/member/template/mobile/member/basement/basementImg/ico1.png"></em>潮in小吃</div>
<ul class="list">
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/251.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x1.png"><br>弹丸滋地</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/191.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x2.png"><br>继光香香鸡</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/301.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x3.png"><br>卷客卷饼</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/231.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x4.png"><br>绝味鸭脖</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/31.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x6.png"><br>七品香豆腐</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/281.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x7.png"><br>手握V 萨</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/291.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x8.png"><br>薯小帅</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/241.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x9.png"><br>淘气牛牛杂</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/1.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x10.png"><br>丸子专卖</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/271.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x11.png"><br>文和友</a></li>
<li><a href="http://zt.sagabuy.com/cydp/fengweitangshi/2016-11-09/141.html"><img src="../addons/member/template/mobile/member/basement/basementImg/t4.png"><br>刘大饼</a></li>
</ul>
</div>
<div class="block leftF" >
<div class="block_title block_title2" ><em><img src="../addons/member/template/mobile/member/basement/basementImg/ico2.png"></em>最潮饮品</div>
<ul class="list">
<li><a href="http://zt.sagabuy.com/cydp/zuichaoyinpin/2016-11-09/131.html"><img src="../addons/member/template/mobile/member/basement/basementImg/y1.png"><br>VQ饮品</a></li>
<li><a href="http://zt.sagabuy.com/cydp/zuichaoyinpin/2016-11-09/61.html"><img src="../addons/member/template/mobile/member/basement/basementImg/y2.png"><br>开心丽果</a></li>
<li><a href="http://zt.sagabuy.com/cydp/zuichaoyinpin/2016-11-09/11.html"><img src="../addons/member/template/mobile/member/basement/basementImg/y3.png"><br>兰芳园</a></li>
<li><a href="http://zt.sagabuy.com/cydp/zuichaoyinpin/2016-11-09/91.html"><img src="../addons/member/template/mobile/member/basement/basementImg/y4.png"><br>米芝莲</a></li>
<li><a href="http://zt.sagabuy.com/cydp/zuichaoyinpin/2016-11-09/21.html"><img src="../addons/member/template/mobile/member/basement/basementImg/y5.png"><br>喜年贡茶</a></li>
<li><a href="http://zt.sagabuy.com/cydp/zuichaoyinpin/2016-11-09/41.html"><img src="../addons/member/template/mobile/member/basement/basementImg/y6.png"><br>鲜果时间</a></li>
<li><a href="http://zt.sagabuy.com/cydp/zuichaoyinpin/2016-11-09/111.html"><img src="../addons/member/template/mobile/member/basement/basementImg/y7.png"><br>享甜</a></li>
<li><a href="http://zt.sagabuy.com/cydp/zuichaoyinpin/2016-11-09/211.html"><img src="../addons/member/template/mobile/member/basement/basementImg/y8.png"><br>CoCo都可茶饮</a></li>
</ul>
</div>
<div class="block leftF" >
<div class="block_title block_title3" ><em><img src="../addons/member/template/mobile/member/basement/basementImg/ico3.png"></em>甜品蜜语</div>
<ul class="list">
<li><a href="http://zt.sagabuy.com/cydp/tianpinmiyu/2016-11-09/101.html"><img src="../addons/member/template/mobile/member/basement/basementImg/t1.png"><br>Salud冻酸奶</a></li>
<li><a href="http://zt.sagabuy.com/cydp/tianpinmiyu/2016-11-09/261.html"><img src="../addons/member/template/mobile/member/basement/basementImg/t2.png"><br>初代甜品</a></li>
<li><a href="http://zt.sagabuy.com/cydp/tianpinmiyu/2016-11-09/51.html"><img src="../addons/member/template/mobile/member/basement/basementImg/t3.png"><br>零下196</a></li>

<li><a href="http://zt.sagabuy.com/cydp/tianpinmiyu/2016-11-09/201.html"><img src="../addons/member/template/mobile/member/basement/basementImg/t6.png"><br>酥菲皇后</a></li>
<li><a href="http://zt.sagabuy.com/cydp/tianpinmiyu/2016-11-09/81.html"><img src="../addons/member/template/mobile/member/basement/basementImg/t7.png"><br>西树泡芙摩堤工房</a></li>
<li><a href="http://zt.sagabuy.com/cydp/tianpinmiyu/2016-11-09/171.html"><img src="../addons/member/template/mobile/member/basement/basementImg/t8.png"><br>杨小贤</a></li>
<li><a href="http://zt.sagabuy.com/cydp/tianpinmiyu/2016-11-09/71.html"><img src="../addons/member/template/mobile/member/basement/basementImg/t9.png"><br>潘达芝士挞</a></li>
</ul>
</div>
<div class="block leftF" >
<div class="block_title block_title4" ><em><img src="../addons/member/template/mobile/member/basement/basementImg/ico4.png"></em>风味堂食</div>
<ul class="list">
<li><a href="http://zt.sagabuy.com/cydp/fengweitangshi/2016-11-09/121.html"><img src="../addons/member/template/mobile/member/basement/basementImg/t5.png"><br>上海米线</a></li>

<li><a href="http://zt.sagabuy.com/cydp/fengweitangshi/2016-11-09/161.html"><img src="../addons/member/template/mobile/member/basement/basementImg/x5.png"><br>来个披萨</a></li>
<li><a href="http://zt.sagabuy.com/cydp/chaoinxiaochi/2016-11-09/31.html"><img src="../addons/member/template/mobile/member/basement/basementImg/s2.png"><br>七品香豆腐</a></li>
<li><a href="http://zt.sagabuy.com/cydp/fengweitangshi/2016-11-09/181.html"><img src="../addons/member/template/mobile/member/basement/basementImg/s3.png"><br>宽窄巷</a></li>
<li><a href="http://zt.sagabuy.com/cydp/fengweitangshi/2016-11-09/221.html"><img src="../addons/member/template/mobile/member/basement/basementImg/s4.png"><br>辣吻冷锅串串</a></li>
<li><a href="http://zt.sagabuy.com/cydp/fengweitangshi/2016-11-09/151.html"><img src="../addons/member/template/mobile/member/basement/basementImg/s5.png"><br>小食大做</a></li>
</ul>
</div>
</article>
<a href="http://mp.weixin.qq.com/s?__biz=MjM5NDE0OTIwMQ==&mid=2650266027&idx=3&sn=543595d6b132ac99d991be57ca347c04&chksm=be8f5f9589f8d683be5acccfc39c2900efb05aa8bb8fc87c34ef8c578a5ced52751afe7243fd&scene=0#wechat_redirect"><img  src="../addons/member/template/mobile/member/basement/basementImg/zooad.gif" style="border:0px"></a>
</body>
<script type="application/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script type="text/javascript">
    wx.config({
        debug: false,
        appId: "{$_W['account']['jssdkconfig']['appId']}",
        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
        signature: "{$_W['account']['jssdkconfig']['signature']}",
        jsApiList: [
            'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
            'onMenuShareTimeline',      // 分享到朋友圈
            'onMenuShareAppMessage',    // 分享给朋友
            'onMenuShareQQ',            // 分享到QQ
            'onMenuShareWeibo',         // 分享到腾讯微博
            'hideMenuItems',            // 批量隐藏功能按钮接口
            'showMenuItems',            // 批量显示功能按钮接口
            'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
            'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
            'getNetworkType',           // 获取网络状态接口
            'openLocation',             // 使用微信内置地图查看位置接口
            'getLocation',              // 获取地理位置接口
            'hideOptionMenu',           // 批量隐藏功能按钮接口
            'showOptionMenu',           // 批量显示功能按钮接口
            'closeWindow',              // 关闭当前网页窗口接口
            'addCard',                  // 批量添加卡券接口
            'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
            'openCard',                 // 查看微信卡包中的卡券接口
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage'
        ]
    });

    wx.ready(function(){
        // 分享到朋友券
        wx.onMenuShareTimeline({
            title: '吃货向东走，全场五折起！', // 分享标题
            link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=basementInfo&m=member', // 分享链接
            imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/member/basement/basementImg/pic2.png', // 分享图标
            success: function (res) {

            }
        });



        // 分享给朋友
        wx.onMenuShareAppMessage({
            title: '吃货向东走，全场五折起', // 分享标题
            desc: '吃货请注意！ 赛格国际美食双十一全场五折！不做剁手党，只要好吃哒~', // 分享描述
            link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=basementInfo&m=member', // 分享链接
            imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/member/basement/basementImg/pic2.png', // 分享图标
            success: function (res) {

            }
        })
    });

</script>
</html>