<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的停车缴费记录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="../addons/member/template/mobile/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../addons/member/template/mobile/static/css/paprecord.css" rel="stylesheet" type="text/css">
    <link href="../addons/member/template/mobile/static/css/dropload.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
    <img src="../addons/member/template/mobile/static/img/tooth.png" class="tooth" />
    <!--<img src="../addons/member/template/mobile/img/logo.png" class="logo" />-->
    <span>停车交费记录</span>
</header>
<div class="clr"></div>
<section>
    <div class="explain_s1"><p>赛格服务，贴心为您。<br>您的点滴，我们都记在这里。</p></div>
    <div class="contract"><a href="{$linkSerial}" ><button type="button">免密支付加载</button></a></div>
</section>
<div class="clr" id="info">

</div>
<footer>
    <br><br>
</footer>

</body>
<script type="text/javascript" src="../addons/member/template/mobile/static/js/zepto.min.js"></script>
<!-- <script type="text/javascript" src="../addons/member/template/mobile/static/js/async.js"></script> -->
<script src="../addons/member/template/mobile/static/js/dropload.min.js"></script>
<script type="text/javascript">

</script>
</html>