<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection">
<link rel="stylesheet" href="../addons/member/template/mobile/invite_chen/css/invite_chen.css">
</head>
<body>
	<div class="inv">
		<div class="main inv_main">
			<div class="inv_top">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>会计</span></h2>
				<ul>
					<li>
						<span><b>人数：</b>5名</span>
						<span><b>月薪：</b>5000 - 5500</span>
					</li>
					<li>
						<p><b>工作内容：</b><br />
							确保公司往来账款的管理，并及时结算、核算等（业务有分工）
						</p>
					</li>
					<li>
						<p><b>任职要求：</b><br />
							统招本科及以上学历，会计、金融等财会专业，具备良好的职业道德，掌握基础财务会计知识和技能
						</p>	
					</li>
				</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<div class="inv_botm">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>系统管理员</span></h2>
				<ul>
					<li>
						<span><b>人数：</b>5名</span>
						<span><b>月薪：</b>5000 - 6000</span>
					</li>
					<li>
						<p><b>工作内容：</b><br />
							维护管理公司ERP系统、信息保障，维护公司的收费设备，维护IT相关设备，保障公司信息通信畅通和安全等
	
						</p>
					</li>
					<li>
						<p><b>任职要求：</b><br />
							本科及以上学历，偏财务软件方面，熟悉TCP/IP网络协议，熟悉linux和windows server操作系统，熟悉Mysql、Oracle的基本应用和备份/恢复，熟悉计算机硬件及运行原理
						</p>	
					</li>
				</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<a class="back" href="http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteOrangeEntry&m=member&wxref=mp.weixin.qq.com#option">返&nbsp;回</a>
		</div>
	</div>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
		
	    wx.config({
	        debug: false,
	        appId: "{$_W['account']['jssdkconfig']['appId']}",
	        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
	        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
	        signature: "{$_W['account']['jssdkconfig']['signature']}",
	        jsApiList: [
	            'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
	            'onMenuShareTimeline',      // 分享到朋友圈
	            'onMenuShareAppMessage',    // 分享给朋友
	            'onMenuShareQQ',            // 分享到QQ
	            'onMenuShareWeibo',         // 分享到腾讯微博
	            'hideMenuItems',            // 批量隐藏功能按钮接口
	            'showMenuItems',            // 批量显示功能按钮接口
	            'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
	            'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
	            'getNetworkType',           // 获取网络状态接口
	            'openLocation',             // 使用微信内置地图查看位置接口
	            'getLocation',              // 获取地理位置接口
	            'hideOptionMenu',           // 批量隐藏功能按钮接口
	            'showOptionMenu',           // 批量显示功能按钮接口
	            'closeWindow',              // 关闭当前网页窗口接口
	            'addCard',                  // 批量添加卡券接口
	            'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
	            'openCard',                 // 查看微信卡包中的卡券接口
	            'chooseImage',
	            'previewImage',
	            'uploadImage',
	            'downloadImage'
	        ]
	    });
		
	    wx.ready(function() {
	    	//分享到朋友圈
	    	wx.onMenuShareTimeline({
		       title: "在赛格，我们与你事业的小船永不翻~", // 分享标题
		       link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteOrangeEntry&m=member', // 分享链接
		       imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/invite_chen/img/pic.png', // 分享图标
		       success: function (res) {
	           console.log("succ");
	       		}
		   });
			// 分享给朋友
	       wx.onMenuShareAppMessage({
	           title: "在赛格，我们与你事业的小船永不翻~", // 分享标题
	           desc:  "赛格国际2017春招的小船已经出发，优秀的同学们排好队前排刷卡上船~", // 分享描述
	           link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteOrangeEntry&m=member', // 分享链接
	           imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/invite_chen/img/pic.png', // 分享图标
	           success: function (res) {
	           console.log("succ");
	       		}
	       });
	    });
	
	</script>

</body>
</html>
