<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>品牌列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="../addons/member/template/mobile/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../addons/member/template/mobile/static/css/card.css" rel="stylesheet" type="text/css">
    <link href="../addons/member/template/mobile/static/css/sy.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
   <h4>员工信息登记表</h4>
   	
</header>
<section class="main">
<form action="" method="post" name="form1" id="form1" >
    	部组号码：<input id="c_dept_id" name="c_dept_id" type="text" value="{$c_dept_id}" class="txt"><br />
        品牌名称：<input id="c_dept_name" name="c_dept_name" type="text" value="{$c_dept_name}" class="txt"><br />
        <input type="submit" value="查询" class="btn">
    </form>
    {loop $deptArr $dept}
    	<ul>
        	<li><a href="index.php?i=4&c=entry&do=shopAddEmp&m=member&c_dept_id={$dept['c_dept_id']}" class="btn2">{$dept['c_dept_name']} </a></li>
            <li><img src="http://qr.liantu.com/api.php?text={$dept['url']}" width="80%" class="ewm"></li>
            <li></li>
        </ul>
    {/loop}
</section>


<div class="clr"></div>
<footer>
    <br><br>
</footer>
<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500021860" ></script>
<script type="application/javascript" src="../addons/member/template/mobile/static/js/zepto.min.js" ></script>
<script type="application/javascript" src="../addons/member/template/mobile/static/js/touch-0.2.14.min.js"></script>
<script type="application/javascript" src="../addons/member/template/mobile/static/js/layer.m/layer.m.js"></script>
<script type="application/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<SCRIPT>
	wx.config({
        debug: false,
        appId: "{$_W['account']['jssdkconfig']['appId']}",
        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
        signature: "{$_W['account']['jssdkconfig']['signature']}",
        jsApiList: [
            'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
            'onMenuShareTimeline',      // 分享到朋友圈
            'onMenuShareAppMessage',    // 分享给朋友
            'onMenuShareQQ',            // 分享到QQ
            'onMenuShareWeibo',         // 分享到腾讯微博
            'hideMenuItems',            // 批量隐藏功能按钮接口
            'showMenuItems',            // 批量显示功能按钮接口
            'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
            'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
            'getNetworkType',           // 获取网络状态接口
            'openLocation',             // 使用微信内置地图查看位置接口
            'getLocation',              // 获取地理位置接口
            'hideOptionMenu',           // 批量隐藏功能按钮接口
            'showOptionMenu',           // 批量显示功能按钮接口
            'closeWindow',              // 关闭当前网页窗口接口
            'addCard',                  // 批量添加卡券接口
            'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
            'openCard'                  // 查看微信卡包中的卡券接口
        ]
    });

    wx.ready(function(){
         // 分享到朋友券
        wx.onMenuShareTimeline({
            title: '员工信息登记表', // 分享标题
            link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=shopList&m=member', // 分享链接
            imgUrl: 'http://wx.cnsaga.com/addons/member/images/20161001/share.jpg', // 分享图标
            success: function (res) {

            }
        });

        // 分享给朋友
        wx.onMenuShareAppMessage({
            title: '员工信息登记表', // 分享标题
            desc: '员工信息登记表 请输入品牌名称或部组编号进行搜索后点击品牌进行员工登记', // 分享描述
            link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=shopList&m=member', // 分享链接
            imgUrl: 'http://wx.cnsaga.com/addons/member/images/20161001/share.jpg', // 分享图标
            success: function (res) {

            }
        });
    });
</SCRIPT>
</body>
</html>