<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>积分转赠</title>
    <meta name="keywords" content="">
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="../addons/member/template/mobile/static/donation/css/style.css" />
</head>
<body>
<div class="share"><img src="../addons/member/template/mobile/static/donation/img/share.png" /></div>
<div class="hint">
    <strong>积分转赠说明</strong>
    为了让您能够更好的享受赛格微会员服务，现我商城推出积分转赠服务。您可将您的购物积分转赠给您的家人或朋友，他们在成功注册赛格微会员后，即可使用转赠的购物积分用于赛格ETC会员停车服务。<br />
    小窍门：为了更好的保障会员的权益，遵循一会员，一手机号，一车牌的安全原则，会员停车服务规则即将更改，届时每位微会员仅可绑定一个车牌号。若您有多辆车，您可以邀请车辆实际驾驶人也成为赛格国际的微会员，并用转赠服务将您账户的积分转赠给他，这样依旧可以享受积分抵扣停车费的功能。<br />

    <strong>应该怎样转赠积分？</strong>
    填写相应积分后，点击右上角按钮中的“发送给朋友”，选择目标好友进行发送即可。<br />
    <strong>为什么我的“停车专用积分”不可转赠？</strong>
    您好，“停车专用积分”是在注册微会员时我们赠送的，仅可在您停车时使用，您可以转赠的积分为“购物积分”。<br />
    <strong>如果我的好友不是赛格微会员，如何才能领取积分？</strong>
    您好，如果Ta不是赛格微会员，在Ta领取积分时，我们会引导Ta进行微会员注册，成功注册微会员后即可领取并使用积分了。<br />
    <strong>如果我给好友赠送了积分，但在好友领取前，我的积分因使用而不够转赠积分数值了，怎么办？</strong>
    您好，如果在Ta收取积分前，您使用了一部分积分，使得剩余积分数值小于抵扣转赠给Ta的积分数值，我们会在Ta领取积分时，将您的剩余积分实际数值转至Ta的积分账户中。
</div>
<header>
    <div class="cloud">
        <span class="roll"></span>
    </div>
    <div class="leg-left kFrame"></div>
    <div class="leg-right default"></div>
    <div class="myPhoto"><img src="../addons/member/template/mobile/static/donation/img/photo.png" /></div>
    <div class="friendPhoto"><img src="../addons/member/template/mobile/static/donation/img/photo.png" /></div>
    <div class="hintText"></div>
</header>
<section>
    <input type="text" name="integral" id="integral" placeholder="输入转赠积分数量" />
    <button>确定转赠数量</button>
    <span class="tips">积分转赠说明</span>
</section>
<!-- <section class="Arrival">
	习以为常赠送的1239积分已到账
	<a href="">点此查看</a>
</section> -->
<script type="application/javascript" src="../addons/member/template/mobile/static/js/zepto.min.js" ></script>
<script type="application/javascript" src="../addons/member/template/mobile/static/js/touch-0.2.14.min.js"></script>
<script type="application/javascript" src="../addons/member/template/mobile/static/js/layer.m/layer.m.js"></script>
<script type="application/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">

    function checkRate(nubmer){
        var re = /^[1-9]+[0-9]*]*$/;    //判断正整数
        if (!re.test(nubmer)){
            return false;
        }else{
            return true;
        }
    }

    ;(function($){
        //初始化界面
        var state       = 0 ;                       //0:未领取，1：已领取
        var myPhoto     = "{php echo substr_replace($fansInfo['tag']['avatar'],'132',-1,1);}";   	//自己的头像
        var friendPhoto = '';  								      //对方的头像
        var quota       = {$score};  										//可用积分

        //状态显示
        $('.hintText').html('可用积分：'+quota);
        if(state==1){
            $('.roll').addClass('rollNow');
            $('.leg-right').removeClass('default');
            $('.leg-right').addClass('kFrame');
        }

        //显示本人头像
        $('.myPhoto').css({
            'background'     :'url("'+myPhoto+'")',
            'background-size':'100% 100%'
        });

        //显示对方头像
        friendPhoto == '' ? $('.friendPhoto').css({'background':'url("../addons/member/template/mobile/static/donation/img/por.png")','background-size':'99% 99%'}):$('.friendPhoto').css({'background':'url("'+friendPhoto+'")','background-size':'100% 100%'});

        //使用说明弹窗
        touch.on('.tips', 'tap', function(ev){
            $('.hint').css({'display':'block'});
        });
        //关闭使用说明
        touch.on('.hint', 'tap', function(ev){
            $('.hint').css({'display':'none'});
        });
        //分享关闭
        touch.on('.share', 'tap', function(ev){
            $('.share').css({'display':'none'});
        });
        //分享弹窗
        //touch.on('button', 'tap', function(ev){
	        $('button').on('click',function(){
            var inputIntegral = $('#integral').val();
            if(checkRate(inputIntegral)){

                if(inputIntegral < quota && inputIntegral > 0){

                    /*验证通过可以分享*/
                    $.post("{php echo $this->createMobileUrl('donationScore','',true)}",{"uid":"{$uid}","score":inputIntegral,"custid":"{$card['custid']}","cardsn":"{$card['cardsn']}"},function(msg){
                        if (msg.status) {
                            window.location.href = '{$_W["siteroot"]}app/index.php?i=4&c=entry&do=donationVerify&m=member&id='+msg.id;
                        } else {
                            layer.open({
                                content: msg.msg,
                                btn: ['OK']
                            });
                        }
                    },'json');

                }else{
                    layer.open({
                        content: '赠送积分超出可用积分范围！',
                        btn: ['OK']
                    });
                }
            }else{
                layer.open({
                    content: '请输入正确的数字！',
                    btn: ['OK']
                });
            }
        });
        //});
    })(Zepto)

    wx.config({
        debug: false,
        appId: "{$_W['account']['jssdkconfig']['appId']}",
        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
        signature: "{$_W['account']['jssdkconfig']['signature']}",
        jsApiList: [
            'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
            'onMenuShareTimeline',      // 分享到朋友圈
            'onMenuShareAppMessage',    // 分享给朋友
            'onMenuShareQQ',            // 分享到QQ
            'onMenuShareWeibo',         // 分享到腾讯微博
            'hideMenuItems',            // 批量隐藏功能按钮接口
            'showMenuItems',            // 批量显示功能按钮接口
            'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
            'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
            'getNetworkType',           // 获取网络状态接口
            'openLocation',             // 使用微信内置地图查看位置接口
            'getLocation',              // 获取地理位置接口
            'hideOptionMenu',           // 批量隐藏功能按钮接口
            'showOptionMenu',           // 批量显示功能按钮接口
            'closeWindow',              // 关闭当前网页窗口接口
            'addCard',                  // 批量添加卡券接口
            'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
            'openCard'                  // 查看微信卡包中的卡券接口
        ]
    });

    wx.ready(function(){
        wx.hideOptionMenu();
    });

</script>
</body>
</html>
