<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<link href="../addons/member/template/mobile/static/css/style.css" rel="stylesheet" type="text/css">
<link href="../addons/member/template/mobile/static/css/note.css" rel="stylesheet" type="text/css">
</head>
<body>
<header> <img src="../addons/member/template/mobile/static/img/tooth.png" class="tooth" /> <span>电子票据</span> </header>
<div class="clr"></div>

<div class="bill">
  <table border="0" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
      <td height="1" colspan="4" valign="bottom"><img src="../addons/member/template/mobile/static/img/billTooth.png" class="headTooth" /></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="4" >
      <table border="0" align="center" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td colspan="4" bgcolor="#FFFFFF"><img src="../addons/member/template/mobile/static/img/sagabuylogo.png" vas="logo" /></td>
            </tr>
          </thead>
          <tbody>
            <tr class="border-top">
              <td colspan="4" bgcolor="#FFFFFF">交易时间：2015.06.23 18:23:42</td>
            </tr>
            <tr class="border-top">
              <td width="25%" align="center" bgcolor="#FFFFFF">名称</td>
              <td width="25%" align="center" bgcolor="#FFFFFF">单价</td>
              <td width="25%" align="center" bgcolor="#FFFFFF">折扣</td>
              <td width="25%" align="center" bgcolor="#FFFFFF">金额</td>
            </tr>
            <tr class="border-top">
              <td colspan="4" bgcolor="#FFFFFF">订单号：123123123123</td>
            </tr>
            <tr class="border-top">
              <td colspan="2" bgcolor="#FFFFFF">门店号：111</td>
              <td colspan="2" align="right" bgcolor="#FFFFFF">金额：250.00</td>
            </tr>
            <tr class="border-top">
              <td colspan="4" bgcolor="#FFFFFF">私密（5454545）*1</td>
            </tr>
            <tr>
              <td bgcolor="#FFFFFF">&nbsp;</td>
              <td align="center" bgcolor="#FFFFFF">259.00元</td>
              <td align="center" bgcolor="#FFFFFF"> 0.00</td>
              <td align="right" bgcolor="#FFFFFF"> 259.00 </td>
            </tr>
            <tr class="border-top">
              <td colspan="3" bgcolor="#FFFFFF">折扣合计：</td>
              <td align="right" bgcolor="#FFFFFF">0</td>
            </tr>
            <tr>
              <td colspan="3" bgcolor="#FFFFFF">本票小结：</td>
              <td align="right" bgcolor="#FFFFFF">259.00</td>
            </tr>
            <tr class="border-top">
              <td colspan="3" bgcolor="#FFFFFF">银联卡：4545454****54545</td>
              <td align="right" bgcolor="#FFFFFF">259.00</td>
            </tr>
            <tr class="border-top">
              <td colspan="4" bgcolor="#FFFFFF">会员卡：23234234234</td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#FFFFFF">本次积分：259</td>
              <td colspan="2" align="right" bgcolor="#FFFFFF">累计积分：2544</td>
            </tr>
            <tr class="border-top">
              <td colspan="4" bgcolor="#FFFFFF">赛格客户服务中心：029-86300000</td>
            </tr>
            <tr>
              <td colspan="4" bgcolor="#FFFFFF">此电子券等同于实体纸质券<br>
                如需开票，请您在购物自然月内换开</td>
            </tr>
            <tr class="border-top">
              <td colspan="4" align="center" bgcolor="#FFFFFF">www.sagabuy.com</td>
            </tr>
            <tr class="border-top">
              <td colspan="4" align="center" bgcolor="#FFFFFF">
              	<img class="ashcode" src="../addons/member/template/mobile/static/img/ashcode.png" />
              </td>
            </tr>
  
      </table></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td height="1" colspan="4"><img src="../addons/member/template/mobile/static/img/billTooth.png" class="footTooth" /></td>
    </tr>
      </tfoot>
  </table>
</div>
<footer> <br>
  <br>
</footer>
</body>
</html>