<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>赛格会员积分抵停车费</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="../addons/member/template/mobile/static/css/css.css" type="text/css" rel="stylesheet" />
</head>

<body>
<img src="../addons/member/template/mobile/static/ibeacon/01.jpg" />
<img src="../addons/member/template/mobile/static/ibeacon/02.jpg" />
<div class="ewm"><img src="../addons/member/template/mobile/static/ibeacon/rem.jpg" class="ewm01"/><img src="../addons/member/template/mobile/static/ibeacon/03.jpg"  class="bg03"/>
</div>
<a href="./index.php?i=4&c=entry&do=userRegist&m=member&source=ibeacon"><img src="../addons/member/template/mobile/static/ibeacon/04.jpg" /></a>
<img src="../addons/member/template/mobile/static/ibeacon/05.jpg" />
<a href="./index.php?i=4&c=entry&do=plateNumber&m=member"><img src="../addons/member/template/mobile/static/ibeacon/06.jpg" /></a>
<img src="../addons/member/template/mobile/static/ibeacon/07.jpg" />
<img src="../addons/member/template/mobile/static/ibeacon/08.jpg" />
<br />
<div class="list">
    <span>使用须知：</span>
    <ul>
        <li>如需使用则需要打开积分抵扣停车费功能；</li>
        <li>每300积分抵扣1小时停车费用；</li>
        <li>停车时间不足1小时按1小时计算；</li>
        <li>请在交费时提前出示会员卡。</li>
    </ul>
</div>
</body>
</html>