<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="../addons/member/template/mobile/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../addons/member/template/mobile/static/css/myintegral.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
    <img src="../addons/member/template/mobile/static/img/tooth.png" class="tooth" />
    <span>我的积分</span>
</header>
<div class="clr"></div>
<section>
	<div class="explain_s1"><p>
		hi，尊敬的会员 你好，您的会员积分为 分，您是VIP会员[请激活]
	</p>
	</div>
    <dl>
        <dt><span></span>所能享受的特权</dt>
        <dd>
		特权
        </dd>
    </dl>
    
    <dl>
        <dt><span></span>积分获取方法</dt>
        <dd>
		方法
        </dd>
    </dl>
    <dl>
        <dt><span></span>所能兑换的礼品</dt>
        <dd>
		礼品
        </dd>
    </dl>
</section>
<div class="clr"></div>
<footer>
    <br><br>
</footer>
</body>
</html>