<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>火车控制器</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
		
		<div>
			<form method="post" action="http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=LightSysControl&m=member#">
				 
				<input type="password" name="sagaControl" />
				
				
				<input type="submit" value="确认" />
			</form>
		</div>
	</body>
</html>
