<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>赛格mebaby全场通用代金券</title>
    <script src='../addons/member/template/mobile/dxr/jquery-1.11.3.js'></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <link rel="stylesheet" href="../addons/member/template/mobile/weui-master/dist/style/weui.min.css"/>
</head>
<body>

<script>

	 wx.config({
        debug: false,
        appId: "{$_W['account']['jssdkconfig']['appId']}",
        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
        signature: "{$_W['account']['jssdkconfig']['signature']}",
        jsApiList: [
            'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
            'onMenuShareTimeline',      // 分享到朋友圈
            'onMenuShareAppMessage',    // 分享给朋友
            'onMenuShareQQ',            // 分享到QQ
            'onMenuShareWeibo',         // 分享到腾讯微博
            'hideMenuItems',            // 批量隐藏功能按钮接口
            'showMenuItems',            // 批量显示功能按钮接口
            'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
            'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
            'getNetworkType',           // 获取网络状态接口
            'openLocation',             // 使用微信内置地图查看位置接口
            'getLocation',              // 获取地理位置接口
            'hideOptionMenu',           // 批量隐藏功能按钮接口
            'showOptionMenu',           // 批量显示功能按钮接口
            'closeWindow',              // 关闭当前网页窗口接口
            'addCard',                  // 批量添加卡券接口
            'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
            'openCard',                 // 查看微信卡包中的卡券接口
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage'
        ]
    });

     wx.ready(function(){
         //alert("wx Ready");
         $.post('http://wechat.mebaby.cn/app/index.php?i=2&c=entry&do=CardSignInfo&m=member&hdid={$hdid}',
             function(data){
                 var resdata = JSON.parse(data);
                 //alert('{"code": "","openid":"", "timestamp": "'+ resdata.timestamp+ '", "nonce_str":"'+ resdata.noncestr+ '","signature":"' +resdata.signature +'"}' );
                 wx.addCard({
                     //pV6-Cs7fytjacwYZ850aFgEh99R4
                     cardList: [
                         {
                             cardId:"{$cardId}", //cardExt:"{'timestamp':'{$wxtimestamp}','signature':'{$wxsignature}'}"
                             cardExt:'{"timestamp": "'+ resdata.timestamp+ '", "nonce_str":"'+ resdata.noncestr+ '","signature":"' +resdata.signature +'"}'                            //cardExt: cardListStr
                         }
                     ], // 需要添加的卡券列表
                     success: function (res) {
                         var cardList = res.cardList;
                         //alert(cardList);
                         wx.closeWindow();
                     },
                     cancel:function(res){
                         //alert(res);
                         wx.closeWindow();
                     },
                     fail:function(res){
                         //alert(res);
                         wx.closeWindow();
                     }
                 });

             }
         );
         wx.hideMenuItems({
             menuList: [
                 //发送给朋友:
                 "menuItem:share:appMessage",
                 //分享到朋友圈:
                 "menuItem:share:timeline",
                 //分享到QQ:
                 "menuItem:share:qq",
                 //分享到Weibo:
                 "menuItem:share:weiboApp",
                 //收藏:
                 "menuItem:favorite",
                 //分享到FB:
                 "menuItem:share:facebook",
                 //分享到 QQ 空间/
                 "menuItem:share:QZone",

                 //编辑标签:
                 "menuItem:editTag",
                 //删除:
                 "menuItem:delete",
                 //复制链接:
                 "menuItem:copyUrl",
                 //原网页:
                 "menuItem:originPage",
                 //阅读模式:
                 "menuItem:readMode",
                 //在QQ浏览器中打开:
                 "menuItem:openWithQQBrowser",
                 //在Safari中打开:
                 "menuItem:openWithSafari",
                 //邮件:
                 "menuItem:share:email",
                 //一些特殊公众号:
                 "menuItem:share:brand",
             ] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
         });

     });
</script>
</body>
</html>