<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/> 
<link rel="stylesheet" href="../../addons/member/template/mobile/static/guide/sheets/memberBenefits.css">
</head>
<body>
<header></header>
<section>

<h1>一、赛格国际微会员权益：</h1>
	<h2>1.普通会员权益：</h2>
		<p>购物积分、积分返礼、积分抵停车费、部分专柜正价货品9.5/9折；</p>
	<h2>2.高级会员权益：</h2>
		<h3>尊享品牌满4000减1000，满600减100：</h3>
		<p>折上满减、可拼单累计、以此类推<br>
			凭小票至各楼层收银台结算<br>
			单件商品不可拆分开具小票<br>
			不与商场其他活动共享<br>
			特价商品除外</p>
		<h3>部分专柜正价商品8.5折或9折，获邀参加高端会员沙龙活动，生日特别礼遇，全程导购专享服务及免费包装礼品</h3>
		<p></p>
		<h3>优先就餐：</h3>
		<p>就餐优先免排队；</p>
		<h3>免费停车：</h3>
		<p>本中心广场、空中花园停车场随意免费停车不限时。</p>
	<h2>3.积分说明：</h2>
	<p>服饰、化妆品、皮具、饰品、家居、玩具，1元积一分；黄金珠宝、家电、数码，5元积一分；名表、眼镜、烟酒滋补、餐饮，10元积一分。</p>
	<!--<h1>二、如何成为赛格国际微会员：</h1>
	<p>微信关注“赛格国际”（扫码或搜索“赛格国际”均可），通过左下角“我的”—“会员卡”进入注册界面，按照提示进行注册后，即可成为赛格国际微会员。</p>
	<h1>三、如何使用微信交纳停车费及寻车：</h1>
	<p>点击“赛格国际”微信右下角“停车服务”—“寻车/缴费”，按照提示输入车牌，即可交纳停车费，同时可通过该页面了解到车辆所在位置。<br/>
	PS：使用该功能，也可替朋友交费哦。</p>
	<h1>四、如何开通“自动交费”：</h1>
	<p>点击“赛格国际”微信左下角“我的”—“会员卡”，进入“会员中心”后，点击“自动交费”并按照提示进行操作，即可开通“自动交费”功能。</p>-->
</section>
</body>
</html>
