<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport"  content=" initial-scale=1, minimum-scale=1,maximum-scale=1, width=device-width,user-scalable=0">
	<title>赛格国际高级会员权益</title>
	<style type="text/css">
		*{margin:0;padding:0;}
		img{width: 100%}
		p,li,h2{color: #fffadf}
		p{font-size: 0.9em;line-height: 1.5em;}
		body{ background-image:url(/addons/member/template/mobile/static/img/3vbg.png);}
		.introduce,.content,.brandList{width:94%; margin:-20px 3% 60px 3%;border-radius: 15px; background:rgba(135,112,86,0.3);padding-bottom: 10px;}
		.introduce p{text-indent: 2em;margin: 0 5% 20px 5%; width: 90%}
		h1{text-align: center; color: #ebdf9f; padding:20px;font-size: 1.6em}
		h2{font-size: 1.1em}
		section li{font-size: 0.9em;margin-left:1.5em;line-height: 1.5em;}
		.box1,.box3,.box5,.box7{width:84%; margin:0 auto;background:rgba(42,42,35,0.8);padding: 15px}
		.box2,.box4,.box6{width:84%;margin:0 auto;background:rgba(49,45,39,0.8);padding: 15px}
		.brandList ul{overflow: hidden}
		.brandList li{width:16%;float: left; margin-left:3.5%;margin-bottom: 10px; list-style:none }
		.btn{width: 35%;margin-left:60%; margin-top: 10px}
		.dail{width: 35%;}
		section{overflow: hidden;}
		section p{float:left;width: 55%; padding-left:15px;margin-top:15px;font-size: 0.8em }
		section .dail{float: left;padding-right:15px;margin-top:15px;}
		footer{font-size:.8em;color:#ebdf9f;width:100%;text-align:center;position:relative;top:-3em;}
		.content p{float: right;}
	</style>
</head>
<body>
	{if $_GPC['isvvv'] == 1}
	<img src="/addons/member/template/mobile/static/img/rights_top.png">
	{else}
	<img src="/addons/member/template/mobile/static/img/showRights_top.png">
	{/if}
	<div class="introduce">
		<h1>高级会员(VVVIP)介绍</h1>
		<p>赛格国际购物中心高级会员(VVVIP)是您尊贵的身份象征。</p>	
		<p>依据积分累计，赛格国际购物中心每年将从40万会员中邀请部分追求高品质生活、有着卓越品味和较高文化修养的宾客成为高级会员(VVVIP)。</p>
		<p>高级会员(VVVIP)当日在服饰配件、鞋包皮具、美妆护肤等挚爱品牌专柜，享有消费满4000元减1000元、满600元减100元的尊贵权益；可尊享本中心广场、空中花园停车场随意免费停车不限时，就餐优先免排队、全程导购专享服务及免费包装礼品等尊享礼遇。</p>
		<!--<p>高级会员(VVVIP)有效期至：2016年12月31日</p>	-->
	</div>
	<div class="content">
		<h1>高级会员专享福利</h1>
		<section class="box1">
			<h2>尊享品牌满4000减1000，满600减100</h2>
			<ul>
				<li>折上满减、可拼单累计、以此类推</li>
				<li>凭小票至各楼层收银台结算</li>
				<li>单件商品不可拆分开具小票</li>
				<li>不与商场其他活动共享</li>
				<li>特价商品除外</li>
			</ul>
		</section>
		<section class="box2">
			<h2>部分专柜正价商品8.5折或9折</h2>
		</section>
		<section class="box3">
			<h2>就餐优先免排队</h2>
		</section>
		<section class="box4">
			<h2>免费停车不限时</h2>
		</section>
		<section class="box5">
			<h2>高端会员沙龙活动优先参与权</h2>
		</section>
		<section class="box6">
			<h2>生日特别礼遇、免费礼品包装</h2>
		</section>
		<section class="box7">
			<h2>陪同购物、代客泊车等私人管家专享服务</h2>
		</section>
		<section>
			<p>更多尊贵礼遇正在陆续推出...</p>

		</section>
	</div>
	
	<div class="brandList">
		<h1>尊享品牌</h1>
		<ul>
			<!--B1-->
			<li><img src="http://zt.sagabuy.com/d/file/Floor/-1F/2015-09-24/small622946baede820f7c4713526c5b544241443101009.png" title="Under Armour" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/-1F/2015-09-24/smallef398c65f82cb4a558a2729640d85ac91443101369.png" title="ASICS" /></li>
			<li><img src="/addons/member/template/mobile/static/img/boylondon.png" title="BoyLondon" /></li>
			<!--1F-->
			<li><img src="http://zt.sagabuy.com/d/file/Floor/1F/2015-09-23/f5cc88e668c8ba304d905a4266d9c598.jpg" title="Armani Jeans" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/1F/2015-09-23/b219536ea03caa69ef138f548b3b751a.jpg" title="Tommy Hilfiger" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/1F/2015-09-23/78b98e4e96bd328f4b30b21328ca0183.jpg" title="UGG" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/1F/2016-05-25/54c44659653d187ae8e137ab537e3ded.jpg" title="兰芝" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/1F/2015-12-19/582ceb1167441cc6a66378256199f90c.jpg" title="欧舒丹" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/1F/2015-12-15/0af317c896aa5fe838b8df82caabe21a.jpg" title="benefit" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/wanbaolong.gif" title="万宝龙" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/swarovski.gif" title="Swarovski" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/longines.gif" title="浪琴" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/furla.gif" title="P+Furla" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/stenders.gif" title="施丹兰" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/make up for ever.gif" title="Make up for ever" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/dior.gif" title="Dior" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/lancome.gif" title="Lancome" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/origins.gif" title="origins" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/zhishuxiu.gif" title="Bobbi brown" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/bobbi.gif" title="植村秀" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/mac.gif" title="M.A.C" /></li>
			<!--2F-->
			<li><img src="http://zt.sagabuy.com/d/file/Floor/2F/2016-08-18/a886f17e7a702f03305ab23db566d8b1.jpg" title="achette" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/5b389411a036cf6cbe8410f2173e6a39.jpg" title="Dissona" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/2F/2015-09-24/smalla7b979b7a5c1d3541b2b450580620bab1443099384.jpg" title="FION" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/ceb56218f0bd18cc001cbb6d36be01df.jpg" title="lapagayo" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/2F/2015-09-24/small9e24ad9526b6b989d7cefb8d7a3eaee81443099139.jpg" title="ECCO" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/2F/2016-08-18/a30012df3bb1ac17b26584fc3a8f56af.jpg" title="GEOX" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/top.gif" title="TOP" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/ninewest.gif" title="NINE WEST" /></li>
			<!--3F-->
			<li><img src="http://zt.sagabuy.com/d/file/Floor/3F/2015-09-24/5b93e743c02ae71dbb74d4233203a0b2.jpg" title="迪柯尼" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/60871f5836eba97ff8e27ebe4607f30f.jpg" title="沙驰" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/cruffburkenicle.jpg" title="柯路仕布克尼克合柜" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/manhadun.jpg" title="蔓哈顿" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/weikeduo.gif" title="威可多格罗尼雅合柜" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/bosssunwen.gif" title="BOSSSUNWEN" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/enling.gif" title="恩灵" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/85acc310160884ff40c6d2afe877a882.jpg" title="恩裳" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/99fe78a091f9d63d82e2109e791f8728.jpg" title="雅莹" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/yan.gif" title="言" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/kodice.gif" title="KODICE" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/youlan.gif" title="有兰" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/3F/2015-09-25/small3f59030ea0d6f857d91891a809fca26c1443161658.jpg" title="尹默" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/3F/2015-09-25/smalle2a12d177c6a672ffc6370229e1a97cb1443161368.jpg" title="子苞米" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/3F/2015-12-17/a9ef8f1ac97249316bfa715209d48dc2.jpg" title="ICICLE" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/3F/2015-09-25/smallfcda5753e08093fe45b6e06dc2e951771443162123.jpg" title="歌力思" /></li>

			<li><img src="/addons/member/template/mobile/static/img/ch.png" title="ch" /></li>
			<li><img src="/addons/member/template/mobile/static/img/boni.png" title="BONI" /></li>
			<!--4F-->
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/aimu.gif" title="爱慕" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/huageer.gif" title="华歌尔" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/4F/2015-09-25/779254961890ce4b0b1bcd2924e09a8d.jpg" title="MO&CO" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/vifille.gif" title="VIFILLE" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/dazzle.gif" title="DAZZLE" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/4F/2015-09-24/da30a3bcdff13640fdd770abe9309495.jpg" title="江南布衣" /></li>
			<!--5F-->
			<li><img src="http://zt.sagabuy.com/d/file/Floor/5F/2015-09-25/smallb30e8c56fabad9b7c389144c28e86f161443149313.jpg" title="JNBY kids" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/3e95503c3248761ad3480be9db254a9b.jpg" title="folli follie kids" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/2015pic/babaymode.gif" title="BABY MODE" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/5F/2016-08-19/8ed26f342431d7e9479dbf3c216314a4.jpg" title="kingkow" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/5F/2015-09-25/small8e11a7f52d800c1e051d84ec3315d8ae1443144264.jpg" title="Aimer Kids" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/3F/2015-09-24/b718a192af1d266b0293e96ba9e88cbf.jpg" title="马拉丁" /></li>
			<li><img src="http://zt.sagabuy.com/d/file/Floor/5F/2015-09-24/29bdadc503c1b711cc2674a17f540d1a.jpg" title="哥伦比亚" /></li>
			<li><img src="/addons/member/template/mobile/static/img/qmioo.png" title="qmioo" /></li>
			
		</ul>
	</div>
	
	<footer>最终解释权归赛格国际购物中心所有</footer>
	<script type="application/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
	wx.config({
		debug: false,
		appId: "{$_W['account']['jssdkconfig']['appId']}",
		timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
		nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
		signature: "{$_W['account']['jssdkconfig']['signature']}",
		jsApiList: [
			'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
			'onMenuShareTimeline',      // 分享到朋友圈
			'onMenuShareAppMessage',    // 分享给朋友
			'onMenuShareQQ',            // 分享到QQ
			'onMenuShareWeibo',         // 分享到腾讯微博
			'hideMenuItems',            // 批量隐藏功能按钮接口
			'showMenuItems',            // 批量显示功能按钮接口
			'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
			'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
			'getNetworkType',           // 获取网络状态接口
			'openLocation',             // 使用微信内置地图查看位置接口
			'getLocation',              // 获取地理位置接口
			'hideOptionMenu',           // 批量隐藏功能按钮接口
			'showOptionMenu',           // 批量显示功能按钮接口
			'closeWindow',              // 关闭当前网页窗口接口
			'addCard',                  // 批量添加卡券接口
			'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
			'openCard',                 // 查看微信卡包中的卡券接口
			'chooseImage',
			'previewImage',
			'uploadImage',
			'downloadImage'
		]
	});

	wx.ready(function(){
		/**wx.hideMenuItems({
                menuList: [
                    "menuItem:share:appMessage",
                    "menuItem:share:timeline",
                    "menuItem:favorite"
                ]
                // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
        });**/
		//wx.hideOptionMenu();

		// 分享到朋友券
		wx.onMenuShareTimeline({
			title: "赛格国际高级会员权益 ", // 分享标题
			link: "http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=showRights&m=member", // 分享链接
			imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/static/img/3vshare.png', // 分享图标
			success: function (res) {

			}
		});

		// 分享给朋友
		wx.onMenuShareAppMessage({
			title: "赛格国际高级会员权益 ", // 分享标题
			desc:  "部分专柜正价商品8.5折或9折，免费停车不限时...更多尊贵礼遇正在陆续推出...", // 分享描述
			link: "http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=showRights&m=member", // 分享链接
			imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/static/img/3vshare.png', // 分享图标
			success: function (res) {

			}
		});
	});


	</script>
</body>
</html>