<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection">
<link rel="stylesheet" href="../addons/member/template/mobile/invite/css/invite.css">
</head>
<body>
	<div class="inv">
		<div class="main inv_main">
		<div class="inv_top">
			<img class="inv_yhtop" src="../addons/member/template/mobile/invite/img/inv_top.png" alt="" />
			<h2><span>人事专员</span></h2>
			<ul>
				<li>
					<span><b>人数：</b>3名</span>
					<span><b>月薪：</b>5000 - 6000</span>
				</li>
				<li>
					<p><b>工作内容：</b><br />
						负责企业人力资源的选、育、用、留
					</p>
				</li>
				<li>
					<p><b>任职要求：</b><br />
						1.年龄22-28岁，统招本科及以上学历，人力资源类相关专业<br />
						2.1-2年人事基层管理工作经验，熟悉人力资源六大模块管理<br />
						3.熟悉人力资源管理各项实务的操作流程，熟悉国家各项劳动人事法规政策，并能实际操作运用 
					</p>	
				</li>
			</ul>
			<img class="inv_yhbot" src="../addons/member/template/mobile/invite/img/inv_bom.png" alt="" />
		</div>
		<div class="inv_botm">
			<img class="inv_yhtop" src="../addons/member/template/mobile/invite/img/inv_top.png" alt="" />
			<h2><span>行政专员</span></h2>
			<ul>
				<li>
					<span><b>人数：</b>3名</span>
					<span><b>月薪：</b>5000 - 6000</span>
				</li>
				<li>
					<p><b>工作内容：</b><br />
						负责企业行政事务和办公事务等
					</p>
				</li>
				<li>
					<p><b>任职要求：</b><br />
						1.年龄22-28岁，统招本科及以上学历，行政管理类相关专业<br />
						2.形象好气质佳，净身高163cm以上，亲和力强，有较强的沟通能力和语言表达能力<br />
						3.文字功底深厚具有完备的行政管理知识，组织能力强、机敏聪颖
					</p>	
				</li>
			</ul>
			<img class="inv_yhbot" src="../addons/member/template/mobile/invite/img/inv_bom.png" alt="" />
		</div>
    	<a class="back" href="http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteEntry&m=member&wxref=mp.weixin.qq.com#option">返&nbsp;回</a>
	</div>
	</div>
	
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
		
	    wx.config({
	        debug: false,
	        appId: "{$_W['account']['jssdkconfig']['appId']}",
	        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
	        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
	        signature: "{$_W['account']['jssdkconfig']['signature']}",
	        jsApiList: [
	            'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
	            'onMenuShareTimeline',      // 分享到朋友圈
	            'onMenuShareAppMessage',    // 分享给朋友
	            'onMenuShareQQ',            // 分享到QQ
	            'onMenuShareWeibo',         // 分享到腾讯微博
	            'hideMenuItems',            // 批量隐藏功能按钮接口
	            'showMenuItems',            // 批量显示功能按钮接口
	            'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
	            'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
	            'getNetworkType',           // 获取网络状态接口
	            'openLocation',             // 使用微信内置地图查看位置接口
	            'getLocation',              // 获取地理位置接口
	            'hideOptionMenu',           // 批量隐藏功能按钮接口
	            'showOptionMenu',           // 批量显示功能按钮接口
	            'closeWindow',              // 关闭当前网页窗口接口
	            'addCard',                  // 批量添加卡券接口
	            'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
	            'openCard',                 // 查看微信卡包中的卡券接口
	            'chooseImage',
	            'previewImage',
	            'uploadImage',
	            'downloadImage'
	        ]
	    });
		
	    wx.ready(function() {
	    	//分享到朋友圈
	    	wx.onMenuShareTimeline({
		       title: "在赛格，我们与你事业的小船永不翻~", // 分享标题
		       link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteEntry&m=member', // 分享链接
		       imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/invite/img/pic.png', // 分享图标
		       success: function (res) {
	           console.log("succ");
	       		}
		   });
			// 分享给朋友
	       wx.onMenuShareAppMessage({
	           title: "在赛格，我们与你事业的小船永不翻~", // 分享标题
	           desc:  "赛格国际2017春招的小船已经出发，优秀的同学们排好队前排刷卡上船~", // 分享描述
	           link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteEntry&m=member', // 分享链接
	           imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/invite/img/pic.png', // 分享图标
	           success: function (res) {
	           console.log("succ");
	       		}
	       });
	    });
	
	</script>
</body>
</html>
