<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection">
<link rel="stylesheet" href="../addons/member/template/mobile/invite_chen/css/invite_chen.css">
</head>
<body>
	<div class="inv">
		<div class="main inv_main">
			<div class="inv_top">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>经营管理</span></h2>
    			<ul>
    				<li>
    					<span><b>人数：</b>10名</span>
    					<span><b>月薪：</b>6000 - 7000</span>
    				</li>
    				<li>
    					<p><b>工作内容：</b><br />
    						通过调研、跟踪销售、谈判等方式，研究商场各品牌的组合、淘汰，为商场引进更受消费者欢迎的餐饮、百货品牌和写字楼商户，并洽谈促销、节假日活动等，实现企业经营目标等
    					</p>
    				</li>
    				<li>
    					<p><b>任职要求：</b><br />
    						30岁以下，本科及以上学历，1-2年以上招商工作经验，专业不限，了解餐饮、百货品牌，思路活跃且清晰，有开创性，有良好的协调沟通能力
    					</p>	
    				</li>
    			</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<div class="inv_botm">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>现场管理</span></h2>
    			<ul>
    				<li>
    					<span><b>人数：</b>20名</span>
    					<span><b>月薪：</b>5000 - 6000</span>
    				</li>
    				<li>
    					<p><b>工作内容：</b><br />
    						负责商场现场品牌（含餐饮）、货品、活动、人员、环境等管理工作，为商场的有序经营提供保障等
    					</p>
    				</li>
    				<li>
    					<p><b>任职要求：</b><br />
    						30岁以下，本科及以上学历，专业不限，2年以上商场管理工作经验，形象气质佳，执行力强，责任心强
    					</p>	
    				</li>
    			</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<div class="inv_botm">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>设计专员</span></h2>
    			<ul>
    				<li>
    					<span><b>人数：</b>2名</span>
    					<span><b>月薪：</b>6000 - 7000</span>
    				</li>
    				<li>
    					<p><b>工作内容：</b><br />
    						制定商场装饰陈列方案，负责商场活动宣传设计制作等
    					</p>
    				</li>
    				<li>
    					<p><b>任职要求：</b><br />
    						本科及以上学历，2年以上商场工作经验，广告、平面设计相关专业，熟悉Photoshop、Illustrator、Coreldraw等软件的使用
    					</p>	
    				</li>
    			</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<div class="inv_botm">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>活动策划、执行</span></h2>
    			<ul>
    				<li>
    					<span><b>人数：</b>2名</span>
    					<span><b>月薪：</b>5000 - 6000</span>
    				</li>
    				<li>
    					<p><b>工作内容：</b><br />
    						制定商场装饰陈列方案，协助市场拓展推广，策划商场活动方案并执行，场地活动与广告资源疏通，参与活动前期筹备并跟进执行等
    					</p>
    				</li>
    				<li>
    					<p><b>任职要求</b>：<br />
    						本科及以上学历，专业不限，2年以上商场相关工作经验，善于沟通，性格外向，有较强的洞察力及创新能力，思路开阔，文笔好，执行力强
    					</p>	
    				</li>
    			</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<div class="inv_botm">
				<img class="inv_yhtop" src="../addons/member/template/mobile/invite_chen/img/inv_top.png" alt="" />
				<h2><span>商场客服</span></h2>
    			<ul>
    				<li>
    					<span><b>人数：</b>10名</span>
    					<span><b>月薪：</b>5000 - 5500</span>
    				</li>
    				<li>
    					<p><b>工作内容：</b><br />
    						对顾客提供咨询解答、处理客户投诉、会员服务，执行商场播音工作等
    					</p>
    				</li>
    				<li>
    					<p><b>任职要求</b>：<br />
    						本科及以上学历，专业不限，28岁以下，男生175cm以上，女生165cm以上，形象气质佳，性格稳重，有良好的服务意识，普通话标准，声音甜美，主持与播音相关专业、英语口语良好者优先
    					</p>	
    				</li>
    			</ul>
				<img class="inv_yhbot" src="../addons/member/template/mobile/invite_chen/img/inv_bom.png" alt="" />
			</div>
			<a class="back" href="http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteOrangeEntry&m=member&wxref=mp.weixin.qq.com#option">返&nbsp;回</a>
		</div>
	</div>
	
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
		
	    wx.config({
	        debug: false,
	        appId: "{$_W['account']['jssdkconfig']['appId']}",
	        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
	        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
	        signature: "{$_W['account']['jssdkconfig']['signature']}",
	        jsApiList: [
	            'checkJsApi',               // 判断当前客户端版本是否支持指定JS接口
	            'onMenuShareTimeline',      // 分享到朋友圈
	            'onMenuShareAppMessage',    // 分享给朋友
	            'onMenuShareQQ',            // 分享到QQ
	            'onMenuShareWeibo',         // 分享到腾讯微博
	            'hideMenuItems',            // 批量隐藏功能按钮接口
	            'showMenuItems',            // 批量显示功能按钮接口
	            'hideAllNonBaseMenuItem',   // 隐藏所有非基础按钮接口
	            'showAllNonBaseMenuItem',   // 显示所有功能按钮接口
	            'getNetworkType',           // 获取网络状态接口
	            'openLocation',             // 使用微信内置地图查看位置接口
	            'getLocation',              // 获取地理位置接口
	            'hideOptionMenu',           // 批量隐藏功能按钮接口
	            'showOptionMenu',           // 批量显示功能按钮接口
	            'closeWindow',              // 关闭当前网页窗口接口
	            'addCard',                  // 批量添加卡券接口
	            'chooseCard',               // 调起适用于门店的卡券列表并获取用户选择列表
	            'openCard',                 // 查看微信卡包中的卡券接口
	            'chooseImage',
	            'previewImage',
	            'uploadImage',
	            'downloadImage'
	        ]
	    });
		
	    wx.ready(function() {
	    	//分享到朋友圈
	    	wx.onMenuShareTimeline({
		       title: "在赛格，我们与你事业的小船永不翻~", // 分享标题
		       link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteOrangeEntry&m=member', // 分享链接
		       imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/invite_chen/img/pic.png', // 分享图标
		       success: function (res) {
	           console.log("succ");
	       		}
		   });
			// 分享给朋友
	       wx.onMenuShareAppMessage({
	           title: "在赛格，我们与你事业的小船永不翻~", // 分享标题
	           desc:  "赛格国际2017春招的小船已经出发，优秀的同学们排好队前排刷卡上船~", // 分享描述
	           link: 'http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=InviteOrangeEntry&m=member', // 分享链接
	           imgUrl: 'http://wx.cnsaga.com/addons/member/template/mobile/invite_chen/img/pic.png', // 分享图标
	           success: function (res) {
	           console.log("succ");
	       		}
	       });
	    });
	
	</script>
</body>
</html>
