<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>灯谜猜猜乐</title>
		<meta name="keywords" content=""> 
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta content="telephone=no" name="format-detection">
		<style>
 		*{padding:0;margin:0;border:0;}
 		body{background:#331E53;}
		img{width:100%;}
		</style>
	</head>
	<body>
	<a href="http://wx.cnsaga.com/app/index.php?i=4&c=entry&do=RankList&m=member#"><img src="../addons/member/template/mobile/yuanxiao/yuanxiao/end.png" /></a>
	</body>
</html>