<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>销售汇总</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_style.css' />
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/echarts.common.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/js/function.js"></script>
	<style>td{ height:22px; line-height:22px}</style>
</head>
<body>
	<table width="100%" border="0" cellpadding="9" cellspacing="1" class="table">
		<tr>
			<td colspan="900" class="table_title">
				<span class="fl">会员销售汇总</span>
				<span class="fr">
					<form action="{:U('/Admin/Rep/custSell')}" method="post" name="form1" id="form1">
						<select name="year" id="year">
							<foreach name="yearArr" item="yvo">
								<option value="{$yvo}" <if condition="$yvo eq $year"> selected="selected" </if> >{$yvo}</option>
							</foreach>
						</select>
						-
						<select name="mouth" id="mouth">
							<foreach name="mouthArr" item="mvo">
								<option value="{$mvo}" <if condition="$mvo eq $mouth" > selected="selected" </if> >{$mvo}</option>
							</foreach>
						</select>
						&nbsp;
						<input value="查询" type="submit" class="bginput">
					</form>
				</span>
			</td>
		</tr>
	</table>
	<div id="main" style="width: 100%;height:400px;"></div>
	<table width="100%" border="0" cellpadding="9" cellspacing="1" class="table">
		<tr>
			<td colspan="900" class="table_title">
				<span class="fl">会员销售额报表</span>
			</td>
		</tr>
			<tr class="list_head ct">
				<td width="70" rowspan="2">店铺名称</td>
				<foreach name="dateArr" item="item" key="day">
					<td colspan="2"><a href="{:U('/Admin/Rep/dayRep/date/'.$day)}">{$day}</a></td>
				</foreach>
				<td rowspan="2">合计</td>
			</tr>
			<tr class="list_head ct">
				<foreach name="dateArr" item="item" key="day">
					<td>销售额</td>
					<td>占比</td>
				</foreach>
			</tr>
	    <foreach name="sell" item="val" key="key">
			<tr class='<eq name="mod" value="1">tr<else/>ji</eq>'>
				<td align='center'>{$shopName2Str.$key}</td>
				<foreach name="dateArr" item="item" key="day">
					<td>{$custsell.$key.$day}</td><td>{$custsellzb.$key.$day}%</td>
				</foreach>
				<td>{$custsellTotal.$key}</td>
			</tr>
	    </foreach>
		<tr class='<eq name="mod" value="1">tr<else/>ji</eq>'>
			<td align='center'>合计</td>
			<foreach name="dateArr" item="item" key="day">
				<td colspan="2">{$custsellTotalDay.$day}</td>
			</foreach>
			<td>{$custsellSum}</td>
		</tr>
		<tr class="tr">
          <td colspan="900" class="pages">

          </td>
        </tr>
		</table>



	<div id="main2" style="width: 100%;height:400px;"></div>
	<table width="100%" border="0" cellpadding="9" cellspacing="1" class="table">
		<tr>
			<td colspan="900" class="table_title">
				<span class="fl">笔数汇总</span>
			</td>
		</tr>
		<tr class="list_head ct">
			<td width="70" rowspan="2">店铺名称</td>
			<foreach name="dateArr" item="item" key="day">
				<td colspan="2"><a href="{:U('/Admin/Rep/dayRep/date/'.$day)}">{$day}</a></td>
			</foreach>
			<td rowspan="2">合计</td>
		</tr>
		<tr class="list_head ct">
			<foreach name="dateArr" item="item" key="day">
				<td>销售额</td>
				<td>占比</td>
			</foreach>

		</tr>
		<foreach name="sell" item="val" key="key">
			<tr class='<eq name="mod" value="1">tr<else/>ji</eq>'>
				<td align='center'>{$shopName2Str.$key}</td>
				<foreach name="dateArr" item="item" key="day">
					<td>{$custbs.$key.$day}</td><td>{$custbszb.$key.$day}%</td>
				</foreach>
				<td>{$custbsTotal.$key}</td>
			</tr>
		</foreach>
		<tr class='<eq name="mod" value="1">tr<else/>ji</eq>'>
			<td align='center'>合计</td>
			<foreach name="dateArr" item="item" key="day">
				<td colspan="2">{$custbsTotalDay.$day}</td>
			</foreach>
			<td>{$custbsSum}</td>
		</tr>
		<tr class="tr">
			<td colspan="900" class="pages">

			</td>
		</tr>
	</table>
		<script>var version='{$Think.config.cms_var}';</script>
		<include file="Index:footer" />

	<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {

            tooltip: {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data:[
                    <php>
						$i = 1;
						foreach($custsell as $k => $v){
                        	echo $i >= 1 ? ",":"";
                        	echo "'".$shopName2Str[$k]."'";
                   		}
                    </php>
				]
            },
			toolbox: {
				show: true,
					feature: {
					dataZoom: {
						yAxisIndex: 'none'
					},
					dataView: {readOnly: false},
					magicType: {type: ['line', 'bar']},
					restore: {},
					saveAsImage: {}
				}
			},
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                data: [<php>echo "'".implode("','",$dateArr)."'";</php>]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                <php>
					$i = 1;
					foreach($custsell as $k => $v){
                    	echo $i >= 1 ? ",":"";
						echo "{ name:'".$shopName2Str[$k]."',";
						echo "type:'bar',";
						echo "data:[".implode(",",$v)."],";
						echo "itemStyle: { normal: {label : {show: true, position: 'top'}}} }";
					}
				</php>
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
        var option2 = {

            tooltip: {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data:[
                <php>
                $i = 1;
        foreach($custbszb as $k => $v){
            echo $i >= 1 ? ",":"";
            echo "'".$shopName2Str[$k]."'";
        }
        </php>
        ]
        },
        toolbox: {
            show: true,
                feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
        },
        xAxis: {
            type: 'category',
                data: [<php>echo "'".implode("','",$dateArr)."'";</php>]
        },
        yAxis: {
            type: 'value'
        },
        series: [
        <php>
        $i = 1;
        foreach($custbszb as $k => $v){
            echo $i >= 1 ? ",":"";
            echo "{ name:'".$shopName2Str[$k]."',";
            echo "type:'line',";
            echo "data:[".implode(",",$v)."],";
            echo "itemStyle: { normal: {label : {show: true, position: 'top'}}} }";
        }
        </php>
        ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);
	</script>
</body>
	</html>